<section id="hoarding">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>hoarding</h2>
                        </div>
                        <div class="text">
                            <p>Our in-house design team bring a wealth of experience and knowledge to the 'Design' half of A1 Signs and Design. Every sign is expertly spaced and aligned to crate the high quality sinage that we are passionate about. We work with a large variety of Corporate Brands and can adopt your Brand Identity very quickly. </p>
                            <p>Beyond signs, our team are experienced and active in the marketing world, and would be very happy to discuss any requirements you have for your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 h-img text-center">
                        <%=image_tag "otherpages/hoarding.png", class:"img-fluid", alt:"" %>
                    </div>
                    <div class="col-lg-12">
                        <h3>The Future of Construction</h3>
                        <div class="text">
                            <p>Beyond signs, our team are experienced and active in the marketing world, and would be very happy to discuss any requirements you have for your business. Beyond signs, our team are experienced and active in the marketing world, and would be very happy to discuss any requirements you have for your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="row hoarding-slide">
                            <div class="col-lg-4">
                                <div class="h-item">
                                    <a class="popup" href="slide.jpg"><%=image_tag "otherpages/slide.jpg", class:"img-fluid", alt:"" %></a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h-item">
                                    <a class="popup" href="slide.jpg"><%=image_tag "otherpages/slide.jpg", class:"img-fluid", alt:"" %></a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h-item">
                                    <a class="popup" href="slide.jpg"><%=image_tag "otherpages/slide.jpg", class:"img-fluid", alt:"" %></a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h-item">
                                    <a class="popup" href="slide.jpg"><%=image_tag "otherpages/slide.jpg", class:"img-fluid", alt:"" %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="text">
                            <h3>HOARDING FOR WHO FOR / WHAT Location </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>