    <!--========= top part start===========-->
    <section id="top">
        <div class="container our-con">
            <div class="row">
                <div class="col-lg-4">
                    <h2>DIRECTIONAL</h2>
                </div>

                <div class="col-lg-12">
                    <p>Whether you need to direct people to the toilets, to the site office or to a diverted footpath, directional signs
                        are simple, bold and effective.
                    </p>
                    <p class="p-2">All of our signs come with the eyelets in each corner and the A1 watermark unless specified otherwise.</p>

                </div>
            </div>
        </div>
    </section>
    <!--========= top part end===========-->




    <!--========= main part start===========-->
    <section id="main">
        <div class="container main-con">
            <div class="row">
                <div class="col-lg-3 left">
                    <h3>CATEGORIES</h3>

                    <ul>
                        <li><a href="#">DIRECTIONAL</a></li>
                        <li><a href="#">SITE INFORMATION</a></li>
                        <li><a href="#">MANDATORY</a></li>
                        <li><a href="#">WARNING</a></li>
                        <li><a href="#">PROHIBITION</a></li>
                        <li><a href="#">EMERGENCY</a></li>
                        <li><a href="#">WASTE</a></li>
                        <li><a href="#">WELFARE</a></li>
                        <li><a href="#">NOTICE BOARDS</a></li>
                        <li><a href="#">VINYL STICKERS</a></li>
                        <li><a href="#">GLOW IN THE DARK</a></li>
                        <li><a href="#">ROAD SIGNS</a></li>
                        <li><a href="#">SIGN PACKS</a></li>
                        <li><a href="#">BANNERS</a></li>
                        <li><a href="#">MAGNETIC</a></li>
                    </ul>
                    <ul class="bot-ul">
                        <h4>MATERIAL</h4>

                        <div class="single-col">
                            <div class="styled-input-container styled-input--square">
                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-2" id="radio2-example-one" />
                                    <label for="radio2-example-one">Foamex</label>
                                </div>
                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-2" id="radio2-example-two" />
                                    <label for="radio2-example-two">Dibond</label>
                                </div>
                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-2" id="radio2-example-three" />
                                    <label for="radio2-example-three">Adhesive Vinyl</label>
                                </div>

                                <h4 class="four" style="margin: 10px 0 5px; ">PRICE</h4>

                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-2" id="radio2-example-four" />
                                    <label for="radio2-example-four">£ 0 <span style="font-size: 18px;">-</span> £ 10</label>
                                </div>
                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-2" id="radio2-example-five" />
                                    <label for="radio2-example-five">£ 10 <span style="font-size: 18px;">-</span> £ 30</label>
                                </div>
                                <div class="styled-input-single">
                                    <input type="checkbox" name="fieldset-3" id="radio3-example-one" />
                                    <label for="radio3-example-one">£ 30 <span style="font-size: 17px;">+</span></label>
                                </div>
                            </div>
                        </div>
                    </ul>

                    <h3 class="cost-sign">Create A
                        Custom Sign</h3>
                </div>

                <div class="col-lg-9 right">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li class="mo-last"><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="items">
                                <a href="#">
                                    <%=image_tag "otherpages/site-office.jpg", class:"img-fluid", alt:"img" %>
                                </a>

                                <h4>A1-DR001</h4>
                                <span>3mm Foamex</span>
                                <ul class="mm d-flex te">
                                    <li>600 MM X 450 MM</li>
                                    <li>£ 16.99</li>
                                </ul>
                            </div>

                            <div class="it-bot">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                    <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-12">

                            <div class="botm text-center">

                                <p>Showing products 12 out of 48</p>

                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <span class="page-link">Previous</span>
                                        </li>
                                        <li class="page-item"><a class="page-link mizan" href="#">1</a></li>
                                        <li class="page-item active">
                                            <span class="page-link mizan">
                                                2
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item"><a class="page-link mizan" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========= main part end===========-->





    <!--=========model  part start===========-->
    <!-- Button trigger modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <div class="modal-body">
                    <div class="container none">
                        <div class="row">
                            <div class="col-lg-5 left">
                                <%=image_tag "otherpages/site-office.jpg", class:"img-fluid w-100", alt:"model-img" %>

                                <h4>FIXING</h4>

                                <ul>
                                    <li><a href="#">EYELETS</a></li>
                                    <li><a href="#">DOUBLE SIDED TAPE</a></li>
                                    <li><a href="#">NO FIXING</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-7 right">
                                <h3>A1-DR001</h3>

                                <ul>
                                    <li class="one">SIZE:</li>
                                    <li class="two">600 X 450 MM</li>
                                </ul>

                                <ul>
                                    <li class="one">MATERIAL:</li>
                                    <li class="two">FOAMEX</li>
                                </ul>

                                <ul>
                                    <li class="one">FINISH :</li>
                                    <li class="two">EYELETS</li>
                                </ul>

                                <ul>
                                    <li class="one">THICKNESS :</li>
                                    <li class="two">3 MM</li>
                                </ul>

                                <p>This is a right arrowed sign for directing people to the site office. This is ideal for guiding vistors safely across a site.</p>


                                <div class="md-bot">
                                    <ul>
                                        <li>-</li>
                                        <li>1</li>
                                        <li>+</li>
                                        <li><a data-toggle="modal" data-target="#exampleModalCenter" href="#">ADD TO BASKET</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=========model  part end===========-->