<header>
    <!-- For Large/Xl/MD Devices  Only    -->
    <div class="navigation for-l">
        
        <nav class="navbar navbar-expand-sm navbar-light p-0 ">
            <a class="navbar-brand" href="/">
                <%= image_tag "brand-logo.png", class: "img-fluid", alt: "" %>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                
                <div class="nav-extra navbar-nav">
                    
                    <ul class="navbar-nav">
                        <li><%=button_to "Account", "/order", class:"account" %></li>
                        <li class="basket">


                            <ul class="dropdown navbar-nav">
                                <button class="dropbtn nav-link">
                                <%= image_tag "basket.png", class: "img-fluid", alt: ""%></button>
                                <div class="dropdown-content for-basket">
                                    <h5>YOUR BASKET</h5>
                                    <ul>
                                        <li>Total items <span>4</span></li>
                                        <li>Total <span>€82</span></li>
                                    </ul>
                                    
                                    <%= link_to "View full basket", "/basket", :class => "vbasket" %>

                                </div>
                            </ul>

                        </li>
                        
                        <li class="for-clss">
                            <form class="" id="disap">
                                <input class="" type="search" placeholder="Warning Signs" aria-label="Search"> <br>
                                <button class="" type="submit">Search</button>
                                </form> 
                        </li>
                        
                        <li class="for-srch-icons">
                            <i class="fas fa-search to-search navbar-nav"></i>
                            <i class="fas fa-times navbar-nav forclose closit"></i>
                        </li>
                    </ul>
                    
                    
                </div>
            
                
                
                <ul class="navbar-nav ml-auto nav-real">
                    <ul class="dropdown navbar-nav">
                        <button class="dropbtn nav-link">Signs</button>
                        <div class="dropdown-content">
                            <a href="#">DIRECTIONAL</a>
                            <a href="#">SITE INFORMATION</a>
                            <a href="#">MANDATORY</a>
                            <a href="#">WARNING</a>
                            <a href="#">PROHIBITION</a>
                            <a href="#">EMERGENCY</a>
                            <a href="#">WASTE</a>
                            <a href="#">WELFARE</a>
                            <a href="#">NOTICE BOARDS</a>
                            <a href="#">ROAD SIGNS</a>
                            <a href="#">GLOW IN THE DARK</a>
                            <a href="#">VINYL STICKERS</a>
                            <a href="#">SIGN PACKS</a>
                            <a href="#">BANNERS</a>
                            <a href="#">MAGNETIC</a>
                        </div>
                    </ul>

                    <li class="nav-item">
                        <%=link_to "Design", "/design", class:"nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%=link_to "Hoarding", "/hoarding", class:"nav-link"%>
                    </li>
                
                <ul class="dropdown navbar-nav">
                        <%=button_to "About Us", "/about", class:"drpobtn nav-link" %>
                        <div class="dropdown-content">
                            <%=link_to "Contact Us", "/contact" %>
                            
                        </div>
                    </ul>
                
                    <li class="nav-item">
                        <%=link_to "FAQ", "/faq", class:"nav-link"%>
                    </li>
                
                
                </ul>
                
            </div>
        </nav>

    </div>
    <!--   For Small Sceen Devices Only    -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-0">
                
            <nav class="navbar navbar-expand-lg navbar-light  for-s">
                <button class="account">Sign in</button>
                <ul class="dropdown navbar-nav mr-xs-auto">
                    <button class="dropbtn basket-forsm">
                        <%= image_tag "basket.png", class: "img-fluid", alt: ""%></button>
                    </button>
                    <div class="dropdown-content for-basket">
                        <h5>YOUR BASKET</h5>
                        <ul>
                            <li>Total items <span>4</span></li>
                            <li>Total <span>€82</span></li>
                        </ul>
                        <a href="#" class="vbasket">View full basket</a>
                    </div>
                </ul>
    
                <form class="mr-sm-auto  srch">
                    <input class="" type="search" placeholder="Warning Signs" aria-label="Search">
                    <button class="" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div style="background: #fff;" class="igno">
                    <a class="navbar-brand" href="#">
                        <%= image_tag "brand-logo.png", class: "img-fluid", alt: "" %>
                    </a>
                        
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-2">
                    <ul class="navbar-nav ml-auto menu">
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SIGNS
                                <i class="fas fa-chevron-down arrow-dwn"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">DIRECTIONAL</a>
                                <a class="dropdown-item" href="#">SITE INFORMATION</a>
                                <a class="dropdown-item" href="#">MANDATORY</a>
                                <a class="dropdown-item" href="#">WARNING</a>
                                <a class="dropdown-item" href="#">PROHIBITION</a>
                                <a class="dropdown-item" href="#">EMERGENCY</a>
                                <a class="dropdown-item" href="#">WASTE</a>
                                <a class="dropdown-item" href="#">WELFARE</a>
                                <a class="dropdown-item" href="#">NOTICE BOARDS</a>
                                <a class="dropdown-item" href="#">ROAD SIGNS</a>
                                <a class="dropdown-item" href="#">GLOW IN THE DARK</a>
                                <a class="dropdown-item" href="#">VINYL STICKERS</a>
                                <a class="dropdown-item" href="#">SIGN PACKS</a>
                                <a class="dropdown-item" href="#">BANNERS</a>
                                <a class="dropdown-item" href="#">MAGNETIC</a>
                            </div>
                        </li>
                        
                        <div class="dropdown-divider"></div>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">DESIGN</a>
                        </li>
                    
                        <div class="dropdown-divider"></div>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOARDING</a>
                        </li>
                    
                    
                        <div class="dropdown-divider"></div>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ABOUT US
                            
                            <i class="fas fa-chevron-down arrow-dwn"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">CONTACT US</a>
                            </div>
                        </li>
                    
                        <div class="dropdown-divider"></div>
                    
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ'S</a>
                        </li>

                    
                    </ul>
                </div>
            </nav>
            </div>
        </div>
    </div>
</header>