    <section id="account-setting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ac-s">
                        <div class="col-lg-12 p-xs-0">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="account-head">
                                        <h2 class="d-none d-md-block">Account <br> settting</h2>
                                        <h2 class="d-md-none d-lg-none d-xl-none">account information</h2>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 p-xs-0">
                                    <div class="search-bar d-none d-md-block">
                                        <form action="#" method="post">
                                            <input type="text" placeholder="Search reference numbers, signs etc ......"
                                                name="search" required id="">
                                            <button type="submit">search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="acc-others d-none d-md-block">
                                        <div class="your-acc">
                                            <h3>YOUR ACCOUNT</h3>
                                            <span>#245682</span>
                                        </div>
                                        <div class="acc-menu">
                                            <ul>
                                                    <li><%=link_to "Orders", "/order" %></li>
                                                    <li><%=link_to "Delivery Address", "/delivery" %></li>
                                                    <li><a href="">Concerns</a></li>
                                                    <li><%=link_to "Request a QUOTE", "/request_quote" %></li>
                                                    <li><%=link_to "Communication SETTINGS", "/communication_settings" %></li>
                                                    <li><%=link_to "Payment Settings", "/payment" %></li>
                                                    <li><%=link_to "MY DISCOUNT", "/discount" %></li>
                                                    <li><%=link_to "Account Settings", "/account_setting", class:"active" %></li>
                                                    <li><a href="">Sign Builder</a></li>
                                                    <li><a href="">LOG OUT</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="accoutn-info">
                                        <div class="inner-info">
                                            <div class="acc1 pr">
                                                <div class="acount-info-c d-none d-md-block">
                                                    <a href="#" class="acc-in d-none d-md-block">account info</a>
                                                </div>
                                                <div class="user-info">
                                                    <a href="" class="userin">user information</a>
                                                </div>
                                                <div class="userinfo-c">
                                                    <ul>
                                                        <li> <a href=""><span>taylor</span>first name :</a></li>
                                                        <li> <a href=""><span>O'flanagan</span>last name :</a></li>
                                                        <li> <a href=""><span>tayloroflanagan@hotmail.co.uk</span>email
                                                                address :</a></li>
                                                    </ul>
                                                </div>
                                                <div class="user-info">
                                                    <a href="" class="userin">BILLING INFORMATION</a>
                                                </div>
                                                <div class="userinfo-c">
                                                    <ul>
                                                        <li> <a href=""><span>taylor</span>first name :</a></li>
                                                        <li> <a href=""><span>O'flanagan</span>last name :</a></li>
                                                        <li> <a href=""><span>Taylor O’Flanagan</span>company :</a></li>
                                                        <li> <a href=""><span>74 Peach Avenue</span>address :</a></li>
                                                        <li> <a href=""><span></span>address line 2 :</a></li>
                                                        <li> <a href=""><span>SG5 6NP</span>postcode :</a></li>
                                                        <li> <a href=""><span>Knebworth</span>city :</a></li>
                                                        <li> <a href=""><span>07757783348</span>phone :</a></li>
                                                        <li> <a href=""><span>tayloroflanagan@hotmail.co.uk</span>email
                                                                :</a></li>
                                                    </ul>
                                                </div>
                                                <div class="user-info">
                                                    <a href="" class="userin">company INFORMATION</a>
                                                </div>
                                                <div class="userinfo-c">
                                                    <ul>
                                                        <li> <a href=""><span>Taylor O’Flanagan</span>company :</a></li>
                                                        <li> <a href=""><span>929273</span>vat number :</a></li>
                                                        <li> <a href=""><span>74 Peach Avenue</span>address :</a></li>
                                                        <li> <a href=""><span></span>address line 2 :</a></li>
                                                        <li> <a href=""><span>SG5 6NP</span>postcode :</a></li>
                                                        <li> <a href=""><span>Knebworth</span>city :</a></li>
                                                        <li> <a href=""><span>07757783348</span>phone :</a></li>
                                                        <li class="p-50"> <a
                                                                href=""><span>tayloroflanagan@hotmail.co.uk</span>email
                                                                :</a></li>
                                                    </ul>
                                                </div>
                                                <div class="edit-btn">
                                                    <a href="./account-setting-edit.html">edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inner-info pass">
                                            <div class="acc1 pr ">
                                                <div class="user-info">
                                                    <a href="" class="userin">password</a>
                                                </div>
                                                <div class="userinfo-c">
                                                    <ul>
                                                        <li class="p-50"> <a href=""><span
                                                                    style="font-size: 18px;">*********************</span>password</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="edit-btn">
                                                    <a href="./account-setting-edit.html">edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>