<section id="account-setting" class="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ac-s">
                        <div class="col-lg-12 p-xs-0">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="account-head">
                                        <h2 class="d-none d-md-block">Account <br> settting</h2>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 p-xs-0">
                                    <div class="search-bar d-none d-md-block">
                                        <form action="#" method="post">
                                            <input type="text" placeholder="Search reference numbers, signs etc ......"
                                                name="search" required id="">
                                            <button type="submit">search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="acc-others d-none d-md-block">
                                        <div class="your-acc">
                                            <h3>YOUR ACCOUNT</h3>
                                            <span>#245682</span>
                                        </div>
                                        <div class="acc-menu">
                                            <ul>
                                                    <li><%=link_to "Orders", "/order" %></li>
                                                    <li><%=link_to "Delivery Address", "/delivery" %></li>
                                                    <li><a href="">Concerns</a></li>
                                                    <li><%=link_to "Request a QUOTE", "/request_quote" %></li>
                                                    <li><%=link_to "Communication SETTINGS", "/communication_settings" %></li>
                                                    <li><%=link_to "Payment Settings", "/payment" %></li>
                                                    <li><%=link_to "MY DISCOUNT", "/discount", class:"active" %></li>
                                                    <li><%=link_to "Account Settings", "/account_setting" %></li>
                                                    <li><a href="">Sign Builder</a></li>
                                                    <li><a href="">LOG OUT</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="accoutn-info">
                                        <div class="inner-info">
                                            <div class="acc1 pr">
                                                <div class="acount-info-c">
                                                    <a href="#" class="acc-in d-none d-md-block">my discount</a>
                                                </div>
                                                <div class="discount-c">
                                                    <span>YOUR CURRENT DISCOUNT OFF ALL SIGNS IS 40%</span>
                                                    <p>Your Discount rate is based on your annual spend. If you wish to discuss
                                                            your discount please arrange a meeting with your A1 account manager.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accoutn-info d-two">
                                            <div class="dis-c">
                                                    <a href="#" class="acc-in">secondary
                                                        ADDRESS</a>
                                                </div>
                                            <div class="inner-info">
                                                <div class="acc1 pr">
                                                    <div class="discount-img pr">
                                                        <%=image_tag "discount/Discount.jpg", alt:"" %>
                                                        <div class="overlay pa">
                                                            <div class="offer-d">
                                                                <ul class="d-flex align-items-center">
                                                                    <li class="off-ps">20%</li>
                                                                    <li class="off-t">off</li>
                                                                    <li>
                                                                        <ul>
                                                                            <li class="off-s">WARNING SIGNS </li>
                                                                            <li class="off-app"><a href="">click to apply</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-info">
                                                    <div class="acc1 acc12" style="margin-top: 15px ;">
                                                            <div class="full-c-d">
                                                                <ul>                        
                                                                    <li>THESE OFFERS WILL BE IMAGES UPLOADED</li>
                                                                    <li>BY US PERIODICALLY. WHEN CLICKED THEY</li>
                                                                    <li>APPLY THE DISCOUNT TO THE BASKET ON TOP</li>
                                                                    <li>OF THEIR STANDARD DISCOUNT. THEY MIGHT BE</li>
                                                                    <li>FOR TOTAL PRICE, delivery OR CERTAIN PRODUCTS.</li>
                                                                </ul>
                                                            </div>
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>